* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Light-Gray);
}

.container {
    padding: 3rem 1.5rem 3rem;
}

.card {
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.heading, .paragraph, .paragraph1, .paragraph2, .paragraph3, .paragraph4, .botton-text, .heading2 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.heading {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--Cyan);
}

.paragraph1 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--Bright-Yellow);
}

.paragraph {
    font-size: 14.5px;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.8;
    color: var(--Grayish-Blue);
}

.card2 {
    background-color: var(--Cyan);
    padding: 1rem 1.5rem 2.5rem;
}

.heading-text {
    color: white;
    opacity: .8;
}

.stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.heading2 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.paragraph2 {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    opacity: .5;
}

.paragraph3 {
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    opacity: .8;
}

.botton {
    background-color: var(--Bright-Yellow);
    border-radius: 0.4rem;
    padding: .9rem 6.9rem;
    text-decoration: none;
}

.botton-text {
    color: white;
}

.card3 {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    background-color: hsla(179, 62%, 43%, 0.7);
    padding: 1rem 1.5rem 2rem;
}

.paragraph4 {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    opacity: .8;
    margin-bottom: .2rem;
}

@media (min-width: 340px) {
    
    .botton {
        padding: .9rem 5.5rem;
    }
}

@media (min-width: 375px) {

    .container {
        max-width: 500px;
    }

    .botton {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 790px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .9fr 1fr;
    }

    .card {
        grid-area: 1/1/2/3;
        padding: 2rem 10rem 0rem 3rem;
    }

    .card2 {
        grid-area: 2/1/3/2;
        border-radius: 0rem 0rem 0rem .5rem;
        padding: 3rem 3rem 3rem 3rem ;
    }

    .card3 {
        grid-area: 2/2/3/3;
        border-radius: 0rem 0rem 0.5rem 0rem;
        padding: 3rem 3rem 3rem 3rem ;
    }

    .heading {
        margin-bottom: 2rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .botton {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}